extends ../layout/default.jade

block title
  title Jade Example

block append style
  link(type="text/css" rel="stylesheet" href="index.css")

block append script
  script(src="index.js")

block content
  .banner
    img(src="/hongniu1027.jpg" alt="" height="120" width="100%")
  ul.mobile-module
    li.qt-grid
      a.col3.qt-bg-red(href="http://touch.gongyu.qunar.com/")
        i.icon.q-gongyu
        p 公寓
      a.col3.qt-bg-red(href="javascript:void(0);")
        i.icon.q-hourroom
        p 钟点房
      a.col3.qt-bg-purple(href="http://car.qunar.com/?from=9")
        i.icon.q-zhuce
        p 接送用车
      a.col3.qt-bg-purple(href="http://touch.qunar.com/h5/flight/bargainflight?startCity=北京&destCity=任意城市")
        i.icon.q-flight-disc
        p 特价机票
    li.qt-grid
      a.col6.row2.qt-bg-red(href="http://touch.qunar.com/hotel/")
        p.text-left 酒店
        i.icon.q-hotel
      a.col6.row2.qt-bg-purple(href="http://touch.qunar.com/flight/")
        p.text-left 机票
        i.icon.q-flight
    li.qt-grid
      a.col6.qt-bg-red.v(href="http://touch.qunar.com/h5/hotel/lastminHotelCity?bd_source=touch")
        i.icon.q-tehui
        p 今日特惠
      a.col6.qt-bg-deep-blue(href="http://touch.dujia.qunar.com/tuan.qunar?bd_source=touch")
        i.icon.q-tuan
        p 旅游团购
    li.qt-grid
      a.col6.qt-bg-yellow(href="http://touch.piao.qunar.com/touch/index.htm?bd_source=touch")
        i.icon.q-menpiao
        p 景点门票
      a.col6.qt-bg-deep-blue(href="http://touch.dujia.qunar.com/?bd_source=touch")
        i.icon.q-dujia
        p 旅游度假
    li.qt-grid
      a.col6.qt-bg-yellow(href="http://cheche.qunar.com/?from=28&bd_source=touch")
        i.icon.q-cheche
        p 用车自驾
      a.col6.qt-bg-deep-green(href="http://touch.qunar.com/h5/group/grouplist?from=28&bd_source=touch")
        i.icon.q-group
        p 团购
    li.qt-grid
      a.col6.qt-bg-yellow(href="http://piao.qunar.com/touch/weekend/index.htm?in_track=t_sy_weekendtravel_touch")
        i.icon.q-weekend
        p 周末游
      a.col6.qt-bg-deep-green(href="http://touch.travel.qunar.com/?bd_source=touch")
        i.icon.q-gonglue
        p 攻略
    li.qt-grid
      a.col6.qt-bg-light-green(href="http://touch.train.qunar.com/?from=touchindex")
        i.icon.q-train
        p 火车票
      a.col6.qt-bg-deep-green(href="http://i.qunar.com/touch/index?from=28&bd_source=touch")
        i.icon.q-movie
        p 电影票
    li.qt-grid
      a.col6.qt-bg-light-green(href="http://touch.train.qunar.com/?from=touchindex")
        i.icon.q-car
        p 汽车票
      a.col6.qt-bg-blue(href="http://i.qunar.com/touch/index?from=28&bd_source=touch")
        i.icon.q-meishi
        p 美食
    li.qt-grid
      a.col6.qt-bg-light-green(href="http://i.qunar.com/touch/index?from=28&bd_source=touch")
        i.icon.q-wifi
        p 导游WIFI
      a.col3.qt-bg-blue(href="http://touch.dujia.qunar.com/visaChannel.qunar?bd_source=touch")
        i.icon.q-qianzhen
        p 签证
      a.col3.qt-bg-blue(href="http://guide.qunar.com/?bd_source=touch")
        i.icon.q-luotuoshu
        p 骆驼书
