extends ../layout/default.jade

block title
  title Jade Example

block append style
  link(type="text/css" rel="stylesheet" href="list.css")

block append script
  script(src="list.js")

block content
  h1 list page
  img(src="/test/n.jpg")
