extends ../layout/default.jade

block title
  title Jade Example

block style
  link(type="text/css" rel="stylesheet" href="list.css")

block script
  script(src="list.js")

block content
  h1 list page
  img(src="/test/n.jpg")
