{
  "extends": "eslint-config-airbnb",

  "rules": {
    "func-names": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "no-console": 0
  },
  
  "globals": {
    __: true
  }
}
