/.git
/.gitlab
/.github
/.tmp
/.idea
/examples
/generator-packing
/node_modules
/npm-debug.log
/stats.json
/scripts
/sh
/prd
/.editorconfig
/.eslintignore
/.gitignore
/.npmignore
/.travis.yml
/appveyor.yml
