doctype html
html
  head
    block meta
      meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
      meta(content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="apple-mobile-web-app-status-bar-style" content="black")
      meta(content="telephone=no" name="format-detection")
    block title
      title Default title
    block style
  body
    block content
    block script
