extends ../layout/default.pug

block title
  title Pug Example

block append style
  link(type="text/css" rel="stylesheet" href="/index.css")

block append script
  script(src="/index.js")

block content
  h1 Hello #{name}
  div
    span 异步获取的时间戳：
    span#now
