extends ../layout/default.pug

block title
  title Pug Example

block append style
  link(type="text/css" rel="stylesheet" href="/list.css")

block append script
  script(src="/list.js")

block content
  h1 list page
  ul
  each val in [1, 2, 3, 4, 5]
    li= val
