extends ../layout/default.pug

block content
  div#root
  span 后端返回code: #{code} #{message}
  img(src="1.jpg" data-src="images/2.jpg")
  img(src="images/1.jpg" alt="images/1.jpg")
  img(alt="abc" src="images/2.jpg")
  img(src="//qzz.com/images/2.jpg")
  img(src="1.jpg")
  h1(test="images/2.jpg")
  h2(test="images/2.jpg")
  img(src="node_modules/3.png")
