{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "Android >= 4.4", "IOS >= 7", "ie >= 9"]
      }
    }]
  ],

  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy"
  ]
}
