<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>mustache example</title>
</head>
<body>
  <h1>Hello, {{name}} {{! ignore me }}</h1>
  {{#in_ca}}
  Well, {{taxed_value}} dollars, after taxes.
  {{/in_ca}}

  {{> footer}}
</body>
</html>
