extends ../../layout/default.jade

block title
  title Jade Example

block append style
  link(type="text/css" rel="stylesheet" href="detail/index.css")

block append script
  script(src="detail/index.js")

block content
  h1 == By #{author}
  ul
    each val in languages
      li= val
